@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

nav ul {
    text-align: start;
    list-style: none;
    padding: 15px;
    margin: 15px;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 50px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 10%;
    width: 0%;
    background-color: rgb(255, 196, 0);
    transition: .6s;
}

nav ul li a:hover::after,
.active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(255, 196, 0);
    transition: .4s;
}

#search {
    width: 80%;
    margin-left: auto;
    height: 45px;
    padding-left: 10px;
    outline: none;
    border-radius: 10px;
    border: 3px solid rgb(255, 196, 0);
    margin-top: 2%;
    background-color: #fffd793d;
    margin-right: auto;
}

#search::placeholder {
    font-size: 15px;
    color: rgb(209, 160, 0);
}

#notes {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

.top {
    display: flex;
    flex-direction: row;
}

#create {
    height: 45px;
    width: 10%;
    font-size: 20px;
    border: 3px solid #21cc0a;
    background-color: #1eff0050;
    border-radius: 8px;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 10px;
}

.form {
    position: fixed;
    height: 40%;
    width: 30%;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    animation: show .1s linear;
}

.form input,
.form textarea {
    padding: 5px 10px;
    margin: 40px 20px 40px 20px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 17px;
}

#add {
    margin: 0 20px 30px auto;
    height: 50px;
    width: 30%;
    border: 3px solid #21cc0a;
    background-color: #1eff0050;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.form h1 {
    text-align: center;
    margin-top: 10px;
}

#exit {
    width: 10%;
    height: 50px;
    border: none;
    background-color: #ee5f5a;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px 0px 10px 0;
}

.noteItem {
    height: 300px;
    width: 21%;
    background-color: #f7dd4d;
    box-shadow: 10px 0 1px #58361673;
    margin-right: 50px;
    word-wrap: break-word;
    margin-bottom: 50px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 5px;
}

.noteItem h1 {
    text-align: center;
    margin-top: -20px;
    
}

.noteItem p {
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: -70px;
    margin-top: 10px;
}

.hide {
    display: none;
    
}


#delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s;
    position: relative;
    bottom: 20px;
    right: 20px;
}

#delete:hover {
    transition: .2s;
    transform: translateY(-10px);
}

#delete img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width:440px) {
    nav ul {
        text-align: start;
        list-style: none;
        padding: 10px;
        margin: 15px;
    }

    nav ul li {
        display: inline-block;
        margin-left: 30px;
        font-size: 17px;
    }

    .form {
        width: 80%;
    }

    .form input,
    .form textarea {
        padding: 5px 10px;
        margin: 25px 15px 25px 15px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

    .form input::placeholder,
    .form textarea::placeholder {
        font-size: 15px;
    }

    #add {
        margin: 0 auto 30px auto;
        height: 50px;
        width: 50%;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        cursor: pointer;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
    }

    .form h1 {
        text-align: center;
        margin-top: 5px;
    }

    #exit {
        width: 15%;
        height: 50px;
        border: none;
        background-color: #ee5f5a;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        border-radius: 10px 0px 10px 0;
    }

    .noteItem {
        height: 300px;
        width: 86%;
        background-color: #f7dd4d;
        margin-right: 50px;
        word-wrap: break-word;
        margin-bottom: 50px;
    }

    .noteItem h1 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .noteItem p {
        margin-left: 10px;
        font-weight: 600;
    }

    #delete {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: .2s;
    }

    #create {
        height: 45px;
        width: 15%;
        font-size: 12px;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        border-radius: 8px;
        color: #000000;
        font-weight: 600;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:1440px) {
    .form {
        width: 40%;
    }

    .form input,
    .form textarea {
        padding: 5px 10px;
        margin: 20px 15px 20px 15px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

    .form input::placeholder,
    .form textarea::placeholder {
        font-size: 15px;
    }

    #add {
        margin: 0 auto 30px auto;
        height: 50px;
        width: 50%;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        cursor: pointer;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
    }

    .form h1 {
        text-align: center;
        margin-top: 5px;
    }

    #exit {
        width: 15%;
        height: 50px;
        border: none;
        background-color: #ee5f5a;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        border-radius: 10px 0px 10px 0;
    }

    .noteItem {
        height: 300px;
        width: 42%;
        background-color: #f7dd4d;
        word-wrap: break-word;
        margin-bottom: 50px;
    }

    .noteItem h1 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .noteItem p {
        margin-left: 10px;
        font-weight: 600;
    }

    #delete {
        background-color: transparent;
        border: none;
        
        cursor: pointer;
        transition: .2s;
    }

    #create {
        height: 45px;
        width: 15%;
        font-size: 20px;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        border-radius: 8px;
        color: #000000;
        font-weight: 600;
        cursor: pointer;
        margin-top: 17px;
        margin-left: 10px;
        margin-right: 10px;
    }
}




@media screen and (min-width:440px) and (max-width:768px) {

    .form {
        width: 60%;
    }

    .form input,
    .form textarea {
        padding: 5px 10px;
        margin: 25px 15px 25px 15px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

    .form input::placeholder,
    .form textarea::placeholder {
        font-size: 15px;
    }

    #add {
        margin: 0 auto 30px auto;
        height: 50px;
        width: 50%;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        cursor: pointer;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 700;
    }

    .form h1 {
        text-align: center;
        margin-top: 5px;
    }

    #exit {
        width: 15%;
        height: 50px;
        border: none;
        background-color: #ee5f5a;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        border-radius: 10px 0px 10px 0;
    }

    .noteItem {
        height: 300px;
        width: 40%;
        background-color: #f7dd4d;
        word-wrap: break-word;
        margin-bottom: 50px;
        margin-right: 30px;
    }

    .noteItem h1 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .noteItem p {
        margin-left: 10px;
        font-weight: 600;
    }

    #delete {
        background-color: transparent;
        border: none;
        
        cursor: pointer;
        transition: .2s;
    }

    #create {
        height: 45px;
        width: 15%;
        font-size: 17px;
        border: 3px solid #21cc0a;
        background-color: #1eff0050;
        border-radius: 8px;
        color: #000000;
        font-weight: 600;
        cursor: pointer;
        margin-top: 13px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}